.cart-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-header {
  height: 51px;
  display: flex;
  align-items: center;
  width: 1096px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.cart-inner {
  width: 1096px;
  height: 650px;
  font-size: 14px;
  color: #262626;
  font-weight: bold;
}

.cart-games {
  font-size: 13px;
  border-radius: 1px;
  width: 600px;
  border-top: 1px solid darkgray;
}

.cart-single-game {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  background: #e1e1e1;
  height: 60px;
  width: 100%;
}

.cart-single-game-outer:hover > .cart-delete-price {
  background: rgb(235, 235, 235);
}

.cart-title {
  display:flex;
  justify-content: center;
  align-items: center;
  text-indent: 20px;
  color: black;
}

.cart-delete-price {
  display: flex;
  align-items: center;
  color: #686868;
  justify-content: space-between;
  height: 60px;
  padding-right: 15px;
}

#cart-delete-price-id:hover > .cart-single-game {
  background: rgb(235, 235, 235);
}

#cart-delete-btn {
  display:flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  height: 25px;
  color: #686868;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.25);
  background: #DEDEDE;
  font-weight: 600;
  font-family: Arial;
}

#cart-delete-btn:hover {
  cursor: pointer;
  background: rgb(199, 199, 199);
}

.cart-price {
  border-radius: 3px;
  width: 57px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.cart-single-game:hover {
  background: rgb(235, 235, 235);
}

.cart-thumbnail-title {
  display: flex;
}

.cart-thumbnail {
  height: 60px;
  width: 106px;
}

.cart-status {
  display:flex;
  align-items: center;
  justify-content: center;
}

.delete-cart-btn, .add-cart-btn, .add-cart-btn:active, .delete-cart-btn:active {
  border: none;
  background: none;
  cursor: pointer;
  outline: 0;
}

.cart-single-game-outer {
  display: flex;
  align-items: center;
  background: #e1e1e1;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
}

#cart-delete-price-id:hover {
  background: none;
}

.cart-total {
  height: 60px;
  width: 598px;
  background: #E1E1E1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-left: 1px solid darkgray;
}

.cart-total-price {
  margin-right: 23px;
  width: 145px;
  display: flex;
  justify-content: space-between;
}

.cart-your-order {
  width: 600px;
  height: 100%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  align-items: center;
}

.cart-payment {
  width: 400px;
  height: 100%;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  align-items: center;
}

.cart-payment-form {
  width: 400px;
  background: #E1E1E1;
  border: 1px solid lightgray;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  border: 1px solid darkgray;
}

.cart-and-payment {
  display: flex;
  justify-content: space-between;
}

.cart-form-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 30px;
  font-size: 30px;
  margin-top: 10px;
}

.cart-expiry-date-cvc {
  display: flex;
}

.cart-form-total-btn {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  align-items: center;
}

.cart-cc-input-box {
  text-indent: 15px;
  width: 360px;
  height: 36px;
  padding: 0;
}

.cart-cc-number{
  background: #D7D7D7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  margin: 0px 15px 15px 15px;
} 
.cart-expiry-date-cvc {
  height: 70px;
  background: #D7D7D7;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.cart-pay-btn {
  background: linear-gradient(180deg, #9fbf00, #80ab00);
  color: #fff;
  outline: none;
  border: 1px solid darkgray;
  height: 35px;
  border-radius: 3px;
}

.accepted-and-cc-icons {
  margin: 15px;
}

.cart-cc-outer {
  background: #D7D7D7;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.cart-expiry-box {
  text-indent: 15px;
  height: 36px;
  padding: 0;
}

.cart-cvc-box {
  text-indent: 15px;
  height: 36px;
  padding: 0;
}

#visa {
  color: navy;
}

#amex {
  color: blue;
}

#mastercard {
  color: red;
}

#discover {
  color: orange;
}

.cc-label, .exp-label, .cvc-label {
  margin-bottom: 10px;
}

.cart-cvc {
  display: flex;
  flex-direction: column;
}

.cart-expiry {
  display: flex;
  flex-direction: column;
}

.cart-pay-btn:hover {
  background-image: linear-gradient(-180deg, #aed100, #91c200 80%);
}

.cart-form-total {
  font-size: 20px
}



