.discover-game {
  height: 90px;
  width: 100%;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #b9b9b9;
}

.discover-games-outer {
  display: flex;
  justify-content: space-between;
  width: 1096px;
}

.discover-games-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.discover-games-placeholder {
  width: 60%;
}

.discover-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.big-discover-right {
  height: 590px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  width: 360px
}

.big-discover-right:hover {
  opacity: 90%
}

.small-discover-right {
  height: 306px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  width: 360px
}

.small-discover-right:hover {
  opacity: 90%;
}

.discover-game:hover {
  background: #ECECEC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

#tiny {
  height: 90%;
  width: 136px;
  background-size: cover;
  background-position: center;
  border: 1px solid darkgray;
  margin-left: 5px;
}

.discover-thumbnail {
  width: 150px;
}

.outer-title-price {
  display: flex;
  width: 77%;
  margin-left: 20px;
  justify-content: space-between;
  color: black;
}

.just-title {
  font-size: 14px;
}
.just-price {
  margin-right: 20px;
}

