.global-footer {
  margin-top: 50px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  // height: 198px;           /* Footer height */
  background-color: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  
}

.upper-footer {
  // height: 60px;
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-footer-content {
  height: 100%;
  width: 1096px;
  display: flex;
  align-items: center;
  color: #959595;
}

.middle-footer {
  background-color: rgb(47, 47, 47);
  height: 78px;
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-footer-content {
  height: 100%;
  width: 1096px;
  display: flex;
  align-items: center;
  color: #959595;
  justify-content: flex-end;
}

.bottom-footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(38, 38, 38);
}

.bottom-footer-content {
  height: 100%;
  width: 1096px;
  display: flex;
  align-items: center;
  color: #959595;
  font-size: 13px;
  justify-content: center;
}

#middle-footer-icon {
  border-radius: 5px;
  height: 50px;
}

.purple-text {
  color: #DA8BF0
}

.footer-icons {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-git, #footer-linkedin, #footer-personal {
  color: #959595;
}
#footer-git:hover, #footer-linkedin:hover, #footer-personal:hover {
  color: white;
  cursor: pointer;
}

