.navbar {
  background-color: rgba(26,26,26,0.9);
}

.middle-navbar-links {
  text-align: center;
  color: #d8d8d8;
  
  height: 40px;
  line-height: 44px;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-weight: bold; */
  font-size: 12px;
}

.middle-navbar-links > a:visited {
  color: #d8d8d8;
  text-decoration: none; 
}

.middle-navbar-links > a:link {
  color: #d8d8d8;
  text-decoration: none;
}

.middle-navbar-links > a:hover {
  color: white;
}

.middle-navbar-links > a:active {
  text-decoration: none;
}

.sign-in-link {
  text-decoration: none;
  color: #de8ae5;
}

.sign-in-link:hover {
  color: #cb96e6
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background: #d8d8d8
}