.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(26,26,26,0.9);
  margin-top: 0px;
  height: 52px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.3)
  
}
.centered-nav {
  width: 1275px;
  
  align-items: center;
  
}
.thin-purple-bar {
  background-image: url("bg.jpg");
  height: 4px;
  padding: 0px;
  margin: 0px;
}

.middle-navbar-links {
  float: left;
  display: flex;
  align-items: center;
  color: #d8d8d8;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  
}

.middle-navbar-links > a:visited {
  color: #d8d8d8;
  text-decoration: none; 
}

.middle-navbar-links > a:link {
  color: #d8d8d8;
  text-decoration: none;
}

.middle-navbar-links > a:hover {
  color: white;
}

.middle-navbar-links > a:active {
  text-decoration: none;
}

.sign-in-link {
  
  text-decoration: none;
  color: #de8ae5;
}

.sign-in-link:hover {
  color: #F8B1FE
}


.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
  
}


.dropdown:hover .dropdown-content {
  display: block;
}

#sign-in-drop {
  left: -200px;
  
  width: 500px;
  color: gray;
  line-height: normal;
}

.user-dropdown-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #de8ae5;
}

.user-dropdown-link:hover {
  color: #F8B1FE
}

.user-dropdown {
  
  position: relative;
  
  cursor: default;
  
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
  text-indent: 10px;
  color: black;
  
}


.sign-out-link:hover {
  cursor: pointer;
  background-color: lightgray
}


.user-dropdown:hover .user-dropdown-content {
  display: block;
}

#purple-line {
  
  border: 2px solid #824B9D;
}


#user-menu-drop {
  height: 478px;
  left: -75px;
  width: 230px;
  color: black;
  line-height: normal;
}
.user-drop-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  height: 67px;
  border-bottom: 1px solid lightgray;
  color: darkgray
  
}


.profile-circle {
  height: 45px;
  border-radius: 50%;
  margin-left: -40px;
}

.your-account-text {
  
  margin-bottom: 5px;
  margin-left: 10px;
  
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
}


.user-drop-username-text {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  text-transform: uppercase;
}



#gog-description {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.75;
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  text-align: center;
}

.dropGames {
  position: relative;
  left: -3px;
}

.logo-icon { 
  height: 40px;
  padding-top: 6px;
  padding-right: 45px
}

.arrow-icon {
  height: 4px;
  padding-right: 45px;
}

.sign-in-arrow {
  vertical-align: 3px;
  height: 4px;
  padding-right: 45px;
}

.cart-search {
  margin-top: 8px;
  float: right;
  align-items: center;
}

.cart-icon {
  height: 30px;
  margin-right: 30px;
}

.search-icon {
  height: 30px;
}

.sign-in-drop-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F2F2F2;
  height: 70px;
  border-bottom: 1px solid lightgray;
}

#create-account-button {
  background-color: #E6E6E6;
  border: 1px solid lightgray;
  height: 35px;
  width: 225px;
  border-radius: 3px;
}

#create-account-button:hover {
  background-color: #D8D8D8
}

#sign-in-button {
  background-color: #824B9D;
  border: 1px solid lightgray;
  color: white;
  height: 35px;
  width: 225px;
  border-radius: 3px;
}

#sign-in-button:hover {
  background-color: #713B8D
}

.sign-in-drop-text {
  color: #de8ae5;
  
}

.sign-in-drop-text:hover {
  color: #F8B1FE
}

