.review-item-inner {
  display: flex;
}

.review-username {
  width: 20%;
  min-height: 100px;
}

.review-body {
  width: 80%;
  min-height: 100px;
  font-size: 14px;
  color: #262626;
  word-break: break-word;
  white-space: pre-line;
  line-height: 22px;
}

.review-item-outer {

}

.review-text {
  resize: none;
  // width: 80%
}

.review-form {
  display: flex
}

.form-username {
  width: 20%;
}
