.search-result {
  background: white;
  display: flex;
  justify-content: space-between;
}

.search-result:hover {
  background: lightgray;
  cursor: pointer;
}

.all-results {
  position:absolute;
  z-index: 100;
}