.outer-slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  box-sizing: border-box;
}

.slider {
  width: 1096px;
  height: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid darkgray;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.slide {
  min-width: 100%;
  transition: 0.5s;
  overflow: hidden;
  
}

%btn-styles {
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
	-webkit-text-stroke: 1px rgb(78, 78, 78);
  
  i{
    font-size: 40px;
    color: #808080;
  }
  &:hover{
    // background: rgba(0,0,0, 0.356);
    cursor: pointer;
    i{
      color: white;
    }
  }
}

#goLeft {
  left: 0;
  @extend %btn-styles;
}

#goRight {
  right: 0;
  @extend %btn-styles;
}

.bg1 {
  height: 100%;
  width: 100%;
  background-image: url("https://active-storage-gdr-seed.s3-us-west-1.amazonaws.com/Cyberpunk/cp-store-carousel.jpg?versionId=null");
}

.bg2 {
  height: 100%;
  width: 100%;
  background-image: url("https://active-storage-gdr-seed.s3-us-west-1.amazonaws.com/lis/lis-store-carousel.jpg");
}

.bg3 {
  height: 100%;
  width: 100%;
  background-image: url("https://active-storage-gdr-seed.s3-us-west-1.amazonaws.com/desperados/des-store-carousel.jpg");
}

.bg4 {
  height: 100%;
  width: 100%;
  background-image: url("https://active-storage-gdr-seed.s3-us-west-1.amazonaws.com/spongebob/sb-store-carousel.jpg?versionId=null");
}

.bg5 {
  height: 100%;
  width: 100%;
  background-image: url("https://active-storage-gdr-seed.s3-us-west-1.amazonaws.com/sor4/sor4-store-carousel.jpg?versionId=null");
}