.outer-slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  box-sizing: border-box;
}

.slider {
  width: 1096px;
  height: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid darkgray;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  align-items: center;
}

.slider-img {
  width: 1096px;
}

.slide {
  min-width: 100%;
  transition: 0.5s;
  overflow: hidden;
  
}

%btn-styles {
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
	-webkit-text-stroke: 1px rgb(78, 78, 78);
  
  i{
    font-size: 40px;
    color: #808080;
  }
  &:hover{
    // background: rgba(0,0,0, 0.356);
    cursor: pointer;
    i{
      color: white;
    }
  }
}

#goLeft {
  left: 0;
  @extend %btn-styles;
}

#goRight {
  right: 0;
  @extend %btn-styles;
}

.slider-price {
  width: 190px;
  height: 50px;
  border: 1px solid #96bd27;
  border-bottom-color: #69941b;
  border-left-color: #7fa721;
  border-right-color: #7fa721;
  color: #fff;
  background: linear-gradient(-180deg,#c1ec51,#80b02a);
  font-size: 35px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  z-index: 3;
  position: absolute;
  bottom: 125px;
  right: 75px;
  text-align: center;
  box-shadow: 0 0 28px 8px rgba(0,0,0,.19), 0 1px 5px 0 rgba(0,0,0,.5);
}