.gamers-text {
  height: 50px;
  font-size: 14px;
  margin-top: 50px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamers-text-span {
  color: purple;
  font-weight: bold;
}

.whats-new-text {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testing-text {
  width: 1096px;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid rgb(190, 190, 190)
}

.new-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 100px;
}

.whats-new-slider {
  width: 1096px;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-card-1 {
  height: 100%;
  width: 32%;
  background-color: #ECECEC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.new-card-2 {
  height: 100%;
  width: 32%;
  background-color: #ECECEC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.new-card-3 {
  height: 100%;
  width: 32%;
  background-color: #ECECEC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}



